html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 8px;
  border-color: #bfb8b8;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-color: #bfb8b8;
}

#logo {
  max-width: 184px;
  max-height: 54px;
  width: auto;
  height: auto;
}

button {
  box-sizing: border-box;
  position: relative;
  width: 115px;
  height: 35px;
  left: 95px;
  background: #1fd06e;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

button:hover {
  transition: 300ms linear;
  opacity: 0.5;
}

button:not(:hover) {
  transition: 300ms linear;
  opacity: 1;
}

#logopb {
  position: relative;
  max-width: 70px;
  max-height: 19px;
  width: auto;
  height: auto;
  top: 100px;
}
